a.heading {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:larger;
  border: none;
}

th {
    font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size:120%;
}

.typenum {
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.7rem;
    /* background-color:  lightseagreen; */
    background-color:rgb(32,178,170,0.8);
    /* width: fit-content; */
    /* line-height: 0.95rem; */
    /* text-align: center; */
    color: #fff;
    border-radius: 15px;
    /* left: 45px; */
    top: -5px;
    /*-0.5ex;*/
    padding: 0.1rem 0.33rem;
}

.typeicon {
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 50% center;
    /* background-position: right 15px bottom 0px; */
    /*background-position: left bottom; /*calc(100% - 20px) bottom;*/
    background-origin: content-box;
    height: 28px;
    position: relative;
    /* makes cssnumber move to right corner */
    padding: 1px;
    /*below was in each type separately*/
    
    /* font-size: 0; */
}

.typeicon.LP {
    background-image: url(vinyl.png);
    color: transparent;
}
.typeicon.CD {
    background-image: url(CD.png);
    color: transparent;
}
.typeicon.\78t {
    background-image: url(78t.png);
    color: transparent;
}