header {
    background: url("http://www.maisondujazz.be/images/interface_04-03.png"), rgb(10,20,30,40%);
    background-repeat: no-repeat;
    background-position: right;
}
    
header div h1 {
    color: rgb(255, 204, 65);
    /* color:#FABB13; */
}
a.heading {
    border:none;
    -webkit-text-stroke: 0.2px #FABB13;
}
body {
    grid-template-rows: 100px auto;
}

.typenum {
    position:absolute;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.7rem;
    /* background-color:  lightseagreen; */
    background-color:rgb(32,178,170,0.8);
    width: fit-content;
    /* line-height: 0.95rem; */
    /* text-align: center; */
    color: #fff;
    border-radius: 15px;
    left: 45px;
    top: -5px;
    /*-0.5ex;*/
    padding: 0.1rem 0.33rem;
}

.typeicon {
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 50% center;
    /* background-position: right 15px bottom 0px; */
    /*background-position: left bottom; /*calc(100% - 20px) bottom;*/
    background-origin: content-box;
    height: 28px;
    position: relative;
    /* makes cssnumber move to right corner */
    padding: 1px;
}

.typeicon.video {
    background-image: url(video_icon.png);
    color: transparent;
    font-size: 0;
}

.typeicon.audio {
    background-image: url(audio_icon.png);
    color: transparent;
    font-size: 0;
}